<div class="row" id="footer">
    <div class="col-2"></div>
    <div class="col-8">
        <a href="#"><span>Locations</span></a><span class="pipe">|</span>
        <a href="#"><span>Contact Us</span></a><span class="pipe">|</span>
        <a href="#"><span>Help</span></a><span class="pipe">|</span>
        <a href="#"><span>Accessible Banking</span></a><span class="pipe">|</span>
        <a href="#"><span>Careers</span></a><span class="pipe">|</span>
        <a href="#"><span>Privacy & Security</span></a><span class="pipe">|</span>
        <a href="#"><span>Sitemap</span></a><span class="pipe">|</span>
        <a href="#"><span>Advertising Practices</span></a><span class="pipe">|</span>
        <a href="#"><span>Feedback</span></a><span class="pipe">|</span>
    </div>
    <div class="col-2"></div>


</div>      <!--sub footer links-->
<div class="row" id="foot" style="padding-left: 46%;">

    <div class="text-white" >© 2017 Piggi Bank & Co.</div>

</div>